[Install] 
WantedBy= multi-user.target

[Unit]
Description=Nextcloud cron service

[Service]
ExecStart=/usr/bin/docker exec nextcloud /usr/local/bin/php -f /var/www/html/cron.php