#!/usr/sbin/nft -f

flush ruleset

table ip nat {
    chain postrouting {
        type nat hook postrouting priority srcnat;

        iifname "radarr" oifname "{{ interface }}" counter masquerade
		iifname "sonarr" oifname "{{ interface }}" counter masquerade
		iifname "prowlarr" oifname "{{ interface }}" counter masquerade
		iifname "mail" oifname "{{ interface }}" counter masquerade
    }

    chain prerouting {
		type nat hook prerouting priority dstnat;

		# Transfer traffic to postfix
		iifname "{{ interface }}" tcp dport 25 dnat to {{ service_mail_postfix_ipv4_address }}:2525
		iifname "{{ interface }}" tcp dport 587 dnat to {{ service_mail_postfix_ipv4_address }}:25587

		# Transfer traffic to dovecot
		iifname "{{ interface }}" tcp dport 4190 dnat to {{ service_mail_dovecot_ipv4_address }}
		iifname "{{ interface }}" tcp dport 993 dnat to {{ service_mail_dovecot_ipv4_address }}:10993
    }
}

table ip6 nat {
    chain prerouting {
		type nat hook prerouting priority dstnat;

		# Transfer traffic to postfix
		iifname "{{ interface }}" tcp dport 25 dnat to [{{ service_mail_postfix_ipv6_address }}]:2525
		iifname "{{ interface }}" tcp dport 587 dnat to [{{ service_mail_postfix_ipv6_address }}]:25587

		# Transfer traffic to dovecot
		iifname "{{ interface }}" tcp dport 4190 dnat to [{{ service_mail_dovecot_ipv6_address }}]
		iifname "{{ interface }}" tcp dport 993 dnat to [{{ service_mail_dovecot_ipv6_address }}]:10993
    }
}

table inet filter {
    chain input {
        type filter hook input priority 0; policy drop

        # allow established/related connections
        ct state {established, related} accept

        # early drop of invalid connections
        ct state invalid drop

        # allow from loopback
        iifname lo accept

        # allow icmp and local ipv4
        ip protocol icmp accept
        ip saddr {{ local_subnet }} accept

        # allow ipv6 local peers
        ip6 saddr fe80::/10 accept

		# allow icmpv6 (Neighbor Discovery ND)
	    meta l4proto ipv6-icmp accept

        # allow smtp on ipv4/6 
        tcp dport { http, https, 25, 587, 993, 4190 } accept

		# allow other services on ipv6 only
        meta nfproto ipv6 tcp dport { {{ ssh_port }} } accept
    }

    chain forward {
        type filter hook forward priority 0; policy drop

		# allow dnat connections
		ct status dnat accept

        # allow established connections
        ct state {related,established} accept

		# allow sonarr internet access
		meta nfproto ipv6 iifname "radarr" oif "{{ interface }}" counter accept
		iifname "radarr" oifname "{{ interface }}" ip daddr != {{ local_subnet }} accept

		# allow sonarr internet access
		meta nfproto ipv6 iifname "sonarr" oif "{{ interface }}" counter accept
		iifname "sonarr" oifname "{{ interface }}" ip daddr != {{ local_subnet }} accept

		# allow prowlarr internet access
		meta nfproto ipv6 iifname "prowlarr" oif "{{ interface }}" counter accept
		iifname "prowlarr" oifname "{{ interface }}" ip daddr != {{ local_subnet }} accept

		# allow nextcloud internet access
		meta nfproto ipv6 iifname "nextcloud" oif "{{ interface }}" counter accept

		# allow mail internet access
		iifname "mail" oifname "{{ interface }}" ip daddr != {{ local_subnet }} accept
    }
}
