- hosts: pi
  vars_files:
    - ./external_vars.yml
  roles:
    - role: system

    - role: nftables

    - role: minidlna
      
    - { role: nextcloud, tags: nextcloud }
      
    - role: torrent
    
    - { role: sonarr, tags: sonarr }

    - { role: radarr, tags: radarr }

    - { role: prowlarr, tags: prowlarr }
      
    - { role: mail, tags: mail }

    - { role: pihole, tags: pihole }
    
    - { role: caddy, tags: caddy }
