- hosts: pi
  vars_files:
    - ./external_vars.yml
  roles:
    - role: system

    - role: nftables
      tags: firewall

    - role: minidlna
      tags: minidlna

    - role: nextcloud
      tags: nextcloud

    - role: torrent
      tags: torrent

    - role: sonarr
      tags: sonarr

    - role: radarr
      tags: radarr

    - role: prowlarr
      tags: prowlarr

    - role: mail
      tags: mail

    - role: pihole
      tags: pihole

    - role: jellyfin
      tags: jellyfin
      
    - role: caddy
      tags: caddy
