- hosts: pi
  vars:
    userns_root_uid: 165536
    proxy_ns_uid: 1000
    proxy_ns_gid: 1000
    nextcloud_network: nextcloud
    nextcloud_container: nextcloud
  vars_files:
    - ./external_vars.yml
  roles:
    - role: docker
      
    - role: nextcloud
      vars:        
        nextcloud_uid: 82
        nextcloud_gid: 82
        nextcloud_container_name: "{{ nextcloud_container }}"
        nextcloud_bridge_name: "{{ nextcloud_network }}"
        nextcloud_vol_base: /docker/nextcloud
        mariadb_uid: 999
        mariadb_gid: 999
        mariadb_root_password: "{{ db_root_password }}"
        mariadb_vol_base: /docker/mariadb

    - role: mail
      vars:
        mail_bridge_name: mail
        mail_hostname: "{{ mail_server_hostname }}"
        mail_vol_base: /docker/mail
        postfix_container_name: postfix
        
    - role: reverse-proxy
      vars:
        proxy_uid: "{{ proxy_ns_uid }}"
        proxy_gid: "{{ proxy_ns_gid }}"
        proxy_volumes:
          - /docker/nextcloud/src:/nextcloud
        proxy_networks:
          - name: "{{ nextcloud_network }}"
        proxy_env:
          CLOUD_HOSTNAME: "{{ cloud_hostname }}"
          CLOUD_ROOT: /nextcloud
          CLOUD_FPM: "{{ nextcloud_container }}:9000"
          CLOUD_FCGI_ROOT: /var/www/html
        
  tasks:  
    - name: Upgrade all packages
      become: true
      apt:
        cache_valid_time: 36000
        upgrade: true
        
    - name: Install base system
      become: true
      apt:
        pkg:
          - wireguard
          - rclone
          - duplicity
          - fail2ban
          - jq
          - doas
          - curl
          - nftables
          - e2fsprogs
          - dphys-swapfile
          - vim-tiny
          - apparmor
          - apparmor-utils
          - python3-mysqldb
                    
    - name: Copy boot configuration
      become: true
      copy: 
        src: "{{ item.src }}" 
        dest: "{{ item.dest }}"
        mode: u=rw,g=r,o=r
      loop:
        - { src: ./data/config/boot/raspi-firmware, dest: /etc/default/raspi-firmware }
        - { src: ./data/config/boot/raspi-firmware-custom, dest: /etc/default/raspi-firmware-custom }
        - { src: ./data/config/boot/raspi-extra-cmdline, dest: /etc/default/raspi-extra-cmdline }
      register: bootConfig

    - name: Update initramfs
      become: true
      command: /usr/sbin/update-initramfs -u -k all
      when: bootConfig.changed  

    - name: Copy systemd units
      become: true
      copy:
        src: ./data/config/systemd-units/
        dest: /etc/systemd/system/
        mode: u=rw,g=r,o=r
        directory_mode: u=rwx,g=rx,o=rx
      register: systemdUnits
      
    - name: Start systemd services
      become: true
      systemd:
        name: "{{ item }}"
        enabled: true
        daemon_reload: true
      loop:
        - fail2ban.service
        - nftables.service
        - nextcloud-cron.timer



