- hosts: vm
  vars:
    nextcloud_network: nextcloud
    media_gid: 1500
    torrent_network: transmission
  vars_files:
    - ./external_vars.yml
  roles:
    - role: system

    - role: networking
      
    - role: nftables

    - role: fail2ban

    - role: minidlna
      
    - role: nextcloud
      vars:
        nextcloud_uid: 82
        nextcloud_gid: 82
        nextcloud_container_name: "nextcloud"
        nextcloud_bridge_name: "{{ nextcloud_network }}"
        nextcloud_vol_base: /docker/nextcloud
        mariadb_uid: 999
        mariadb_gid: 999
        mariadb_root_password: "{{ db_root_password }}"
        mariadb_vol_base: /docker/mariadb

    - role: torrent
      vars:
        torrent_vol_base: /docker/media
        transmission_uid: 2000
        transmission_container_name: "transmission"
        transmission_bridge_name: "transmission"

    - role: wireguard
        
    - role: mail
      vars:
        mail_bridge_name: mail
        mail_hostname: "{{ mail_server_hostname }}"
        mail_vol_base: /docker/mail
        dhparam_size: 4096
        postfix_container_name: postfix
        opendkim_container_name: opendkim
        opendkim_uid: 100
        opendkim_gid: 100
        dovecot_container_name: dovecot
        dovecot_vmail_uid: 5000
        dovecot_vmail_gid: 5000
        
    - role: reverse-proxy
      vars:
        proxy_uid: 1000
        proxy_gid: 1000
        proxy_volumes:
          - /docker/nextcloud/src:/nextcloud
        proxy_networks:
          - name: "{{ nextcloud_network }}"
          - name: "{{ torrent_network }}"
