- name: Upgrade all packages
  become: true
  apt:
    cache_valid_time: 36000
    upgrade: true
        
- name: Install system packages
  become: true
  apt:
    pkg:
      - doas
      - e2fsprogs
      - dphys-swapfile
      - vim-tiny
      - apparmor
      - apparmor-utils

- name: Copy boot configuration
  become: true
  copy: 
    src: "{{ item.src }}" 
    dest: "{{ item.dest }}"
    mode: u=rw,g=r,o=r
  loop:
    - { src: ./data/config/boot/raspi-firmware, dest: /etc/default/raspi-firmware }
    - { src: ./data/config/boot/raspi-firmware-custom, dest: /etc/default/raspi-firmware-custom }
    - { src: ./data/config/boot/raspi-extra-cmdline, dest: /etc/default/raspi-extra-cmdline }
  register: bootConfig
  when: rpi
  
- name: Update initramfs
  become: true
  command: /usr/sbin/update-initramfs -u -k all
  when: rpi and bootConfig.changed  

