- name: Create docker network
  become: true
  community.docker.docker_network:
    name: "{{ sonarr_bridge_name }}"
    enable_ipv6: yes
    ipam_config:
      - subnet: "{{ sonarr_network_ipv6_subnet }}"
      - subnet: "{{ sonarr_network_subnet }}"
    driver_options:
      com.docker.network.bridge.name: "{{ sonarr_bridge_name }}"
   
- name: Create data volume
  become: true
  ansible.builtin.file:
    path: "{{ sonarr_vol_base }}"
    mode: 0700
    state: directory
    owner: "{{ sonarr_uid }}"
    group: "{{ sonarr_gid }}"

- name: Create docker container
  become: true
  community.docker.docker_container:
    name: "{{ sonarr_container_name }}"
    image: "{{ sonarr_docker_image }}"
    restart_policy: always
    user: "{{ sonarr_user }}:{{ sonarr_group }}"
    pull: true
    memory: 128M
    networks:
      - name: "{{ sonarr_bridge_name }}"
        ipv6_address: "{{ sonarr_ipv6_address }}"
        ipv4_address: "{{ sonarr_ipv4_address }}"
    state: started
    cap_drop:
      - all
    volumes:
      - "{{ sonarr_vol_base }}:{{ sonarr_vol_mount }}"
      - "{{ media_vol_base }}:{{ media_mount_point }}"
