[Unit]
Description=Mahoneko Wireguard tunnel
After=network.target

[Service]
Type=notify
NotifyAccess=main
WorkingDirectory=/etc/wireguard
Restart=always
RestartSec=20
RuntimeMaxSec=86400

ExecStart=/usr/local/bin/mahoneko-wg.sh UP slovenia
ExecStop=/usr/local/bin/mahoneko-wg.sh DOWN slovenia