---
# tasks file for nextcloud
- name: Create docker network
  become: true
  community.docker.docker_network:
    name: "{{ nextcloud_docker_network }}"
    driver_options:
      com.docker.network.bridge.name: "{{ nextcloud_docker_network }}"

- name: Create volume base
  become: true
  ansible.builtin.file:
    path: "{{ nextcloud_vol_base }}"
    state: directory
    mode: 0700
    owner: root
    group: root
    
- name: Install nextcloud
  ansible.builtin.include_tasks: nextcloud.yml

- name: Install mariadb
  ansible.builtin.include_tasks: mariadb.yml
    
- name: Install caddy
  ansible.builtin.include_tasks: caddy.yml
