---
# tasks file for nextcloud
- name: Create docker network
  become: true
  community.docker.docker_network:
    name: "{{ nextcloud_bridge_name }}"
    driver_options:
      com.docker.network.bridge.name: "{{ nextcloud_bridge_name }}"

# Source volume is world readable for the reverse proxy
- name: Create nextcloud source volume
  become: true
  ansible.builtin.file:
    path: "{{ nextcloud_vol_base }}/src"
    mode: "0775"
    state: directory
    owner: "{{ userns_root_uid|int + nextcloud_uid|int }}"
    group: "{{ userns_root_uid|int + nextcloud_gid|int }}"
      
- name: Create nextcloud config and data volumes
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    mode: "0770"
    state: directory
    owner: "{{ userns_root_uid|int + nextcloud_uid|int }}"
    group: "{{ userns_root_uid|int + nextcloud_gid|int }}"
  loop:
    - { path : "{{ nextcloud_vol_base }}/config" }
    - { path : "{{ nextcloud_vol_base }}/data" }
          
- name: Create mariadb volumes
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    mode: '0770'
    state: directory
    owner: "{{ userns_root_uid|int + mariadb_uid|int }}"
    group: "{{ userns_root_uid|int + mariadb_gid|int }}"
  loop:
    - { path: "{{ mariadb_vol_base }}/data" }
    - { path: "{{ mariadb_vol_base }}/dumps" }
    
- name: Nextcloud container
  become: true
  community.docker.docker_container:
    name: "{{ nextcloud_container_name }}"
    image: "mahoneko/nextcloud:latest"
    restart_policy: always
    user: "{{ nextcloud_uid }}:{{ nextcloud_gid }}"
    pull: true
    networks:
      - name: "{{ nextcloud_bridge_name }}"
    state: started
    cap_drop:
      - all
    volumes:
      - "{{ nextcloud_vol_base }}/src:/var/www/html"
      - "{{ nextcloud_vol_base }}/config:/var/www/html/config"
      - "{{ nextcloud_vol_base }}/data:/var/www/html/data"
  
- name: Mariadb container
  become: true
  no_log: true
  community.docker.docker_container:
    name: mariadb
    image: "mahoneko/mariadb:latest"
    user: "{{ mariadb_uid }}:{{ mariadb_gid }}"
    pull: true
    restart_policy: always
    cap_drop:
      - all
    networks:
      - name: "{{ nextcloud_bridge_name }}"
    state: started
    volumes:
      - "{{ mariadb_vol_base }}/data:/var/lib/mysql"
      - "{{ mariadb_vol_base }}/dumps:/docker-entrypoint-initdb.d:ro"
    env:
      MARIADB_ROOT_PASSWORD: "{{ mariadb_root_password }}"
