- name: Create docker network
  become: true
  community.docker.docker_network:
    name: "{{ prowlarr_bridge_name }}"
    enable_ipv6: yes
    ipam_config:
      - subnet: "{{ prowlarr_network_ipv6_subnet }}"
    driver_options:
      com.docker.network.bridge.name: "{{ prowlarr_bridge_name }}"

- name: Create data volume
  become: true
  ansible.builtin.file:
    path: "{{ prowlarr_vol_base }}"
    mode: 0700
    state: directory
    owner: "{{ prowlarr_uid }}"
    group: "{{ prowlarr_gid }}"

- name: Create docker container
  become: true
  community.docker.docker_container:
    name: "{{ prowlarr_container_name }}"
    image: "{{ prowlarr_docker_image }}"
    restart_policy: always
    user: "{{ prowlarr_user }}:{{ prowlarr_group }}"
    pull: true
    memory: 128M
    networks:
      - name: "{{ prowlarr_bridge_name }}"  
        ipv6_address: "{{ prowlarr_ipv6_address }}"
    state: started
    cap_drop:
      - all
    volumes:
      - "{{ prowlarr_vol_base }}:{{ prowlarr_vol_mount }}"
      - "{{ media_vol_base }}:{{ media_mount_point }}"
