[Install] 
WantedBy=multi-user.target

[Unit]
Description=Certbot renewal service

[Service]
ExecStart=/usr/bin/docker run \
    --attach STDOUT \
	--attach STDERR \
	--rm \
	--cap-drop all \
	--volume /docker/mail/certbot:/etc/letsencrypt \
	--volume /docker/mail/ovh.ini:/etc/letsencrypt/ovh.ini:ro \
	certbot/dns-ovh \
	renew

ExecStartPost=/usr/bin/docker restart dovecot
ExecStartPost=/usr/bin/docker restart postfix
