## Dovecot configuration file

# If you're in a hurry, see http://wiki2.dovecot.org/QuickConfiguration

# "doveconf -n" command gives a clean output of the changed settings. Use it
# instead of copy&pasting files when posting to the Dovecot mailing list.

dovecot_config_version = 2.4.2
dovecot_storage_version = 2.4.2

# Enable installed protocols
protocols = imap lmtp sieve

# A comma separated list of IPs or hosts where to listen in for connections. 
# "*" listens in all IPv4 interfaces, "::" listens in all IPv6 interfaces.
# If you want to specify non-default ports or anything more complex,
# edit conf.d/master.conf.
listen = *, ::

# Configuration SSL
ssl = required
ssl_min_protocol = TLSv1.3
ssl_server_cert_file = /etc/letsencrypt/live/{{ mail_cert_name }}/fullchain.pem
ssl_server_key_file  = /etc/letsencrypt/live/{{ mail_cert_name }}/privkey.pem

mail_home = /var/mail/%{user|domain}/%{user|username}
mail_driver = maildir
mail_path = ~/mail
mail_uid = {{ dovecot_vmail_uid }}
mail_gid = {{ dovecot_vmail_gid }}

passdb sql {
  sql_driver = sqlite
  sqlite_path = /etc/dovecot/mail.sqlite
  passdb_default_password_scheme = SHA512-CRYPT
  query = \
  		SELECT user.username || '@' || domain.name AS user, password \
		FROM virtual_users user \
		JOIN virtual_domains domain on domain.id = user.domain_id \
		WHERE domain.name = '%{user|domain}' \
		AND user.username = '%{user|username}'
}

# Configuration IMAP
#
# Désactive imap sans ssl
service imap-login { 
  inet_listener imap { 
    port=0 
  }

  inet_listener imaps {
    port = {{ dovecot_imaps_port }}
  }
}

# Configuration SASL
#
service auth {
  inet_listener sasl {
    port={{ dovecot_sasl_port }}
  }
}

# Configuration LMTP
#
# Tranfert de mail de postfix à dovecot
protocol lmtp {
  postmaster_address = postmaster@%{user|domain}
  mail_plugins {
    sieve = yes
  }
}

service lmtp {
  inet_listener lmtp {
  	port={{ dovecot_lmtp_port }}
  }
}

# Disable useless chroots for containers
service anvil {
  chroot = 
}

service imap-login {
  chroot = 
}

service managesieve-login {
  chroot =
}

#plugin {
#  # The path to the user's main active script. If ManageSieve is used, this the
#  # location of the symbolic link controlled by ManageSieve.
#  sieve = 
#
#  # Directory for :personal include scripts for the include extension. This
#  # is also where the ManageSieve service stores the user's scripts.
#  sieve_dir = /var/mail/%{user|domain}/%{user|username}/sieve
#}

# Log everything to stdout
log_path=/dev/stdout
info_log_path=/dev/stdout
debug_log_path=/dev/stdout
