{{ caddy_nextcloud_hostname }} {
      root * {{ caddy_nextcloud_mount_path }}

      php_fastcgi {{ caddy_nextcloud_target }} {
        root {{ caddy_nextcloud_php_root }}
	  }

 	  file_server

	  redir /.well-known/carddav /remote.php/dav 301
	  redir /.well-known/caldav /remote.php/dav 301

	  @forbidden {
	    path /.htaccess
	    path /data/*
	    path /config/*
	    path /db_structure
	    path /.xml
	    path /README
	    path /3rdparty/*
	    path /lib/*
	    path /templates/*
	    path /occ
	    path /console.php
	  }

	  respond @forbidden 404
}
